<div class="mb-5 shadow">
  <mat-toolbar color="primary">
    <button mat-button routerLink="/">
      <mat-icon class="mr-2">home</mat-icon>
      <span class="mr-3">App-Ro</span>
    </button>

    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLinkActive="active" routerLink="/add-tooling">
        Add Tooling
      </button>
      <button mat-button routerLinkActive="active" routerLink="/list-tooling">
        List Tooling
      </button>
    </div>
    <button
      mat-button
      [mat-menu-trigger-for]="menu"
      fxHide="false"
      fxHide.gt-sm
    >
      <mat-icon>menu</mat-icon>
    </button>

    <span class="gmc-align-r"></span>
    <button mat-button routerLink="/signin">Login</button>
  </mat-toolbar>

  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLinkActive="active" routerLink="/add-tooling">
      Add Tooling
    </button>
    <button mat-menu-item routerLinkActive="active" routerLink="/list-tooling">
      List Tooling
    </button>
  </mat-menu>
</div>
